.wrapper {
    width: 100%;
    height: 20%;
   box-sizing: 20rem;
  }
  
  .bar {
    width: 0;
    transition: width 0.3s;
    background: skyblue;
  }
  
  .textCenter{
    margin-left: 50%
  }
  
  .progressBarButton{
    margin-top: 10rem;
    float: right;
    margin-right: 10%;
    cursor: pointer;;
  }