.wrapper {
  width: 100%;
  max-width: calc(100vw - 10px);
  height: 20%;
  border: 100px;
  font-size: 16px;
  margin: 10px;
  }
  
  .bar {
    height: 32px;
    width: 0;
    transform: scale(1);
    background: skyblue;
  }
  
  .textCenter{
    margin-left: 50%
  }
  
