.progressBar {
  width: 200px;
  height: 32px;
}

.header{
  text-align: center;
}
.progressBarButton {
  margin-top: 10rem;
  margin-right: 10%;
}
.container{
max-width: 500px;
align-items: center;
display: flex;
margin: 10px;
justify-content: space-between;
button{
  height: 32px;
  width: 50px;
  border-style: solid;
  border-radius: 10px;
  border-image: initial;
}
}
